* {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}

body {
     font-family: "Poppins", sans-serif;
     background-color: white;
     padding: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.container {
     width: 100%;
     text-align: center;

}

.head h2 {
     font-size: 2.5em;
     font-weight: 300;
     color: #697077;
     margin: 50px 0 15px;
}

.head h1 {
     font-size: 2.5em;
     font-weight: 600;
     margin-bottom: 20px;
     color: #4c4e61;
}

.head p {
     font-size: 1em;
     font-weight: 500;
     color: #697077;
     margin-bottom: 60px;
}

.card {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     margin: auto;
     gap: 30px;
     width: 100%;

}

.left-card {
     display: flex;
     flex-direction: column;
     align-self: center;
     padding: 2rem 3rem;
     text-align: start;
     border-radius: 10px;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
     border-top: 4px solid #45d3d3;
}


.middle {
     display: flex;
     flex-direction: column;
     gap: 30px;
     max-width: 420px;
}

.middle-one {
     display: flex;
     flex-direction: column;
     align-self: center;
     padding: 2rem 3rem;
     text-align: start;
     border-radius: 10px;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
     border-top: 4px solid #ea5353;
}

.middle-two {
     display: flex;
     flex-direction: column;
     align-self: center;
     padding: 2rem 3rem;
     text-align: start;
     border-radius: 10px;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
     border-top: 4px solid #fcaf4a;
}

.right-card {
     display: flex;
     flex-direction: column;
     align-self: center;
     padding: 2rem 3rem;
     text-align: start;
     border-radius: 10px;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
     border-top: 4px solid #549ef2;

}



.card h3 {
     color: #4c4e61;
     margin-bottom: 10px;
}

.card p {
     color: #697077;
     margin-bottom: 40px;
}


img {
     width: 50px;
     margin-left: auto;
}

@media (max-width:768px) {

     .head h2,
     .head h1 {
          font-size: 1.8em;
     }

     .head p {
          font-size: 1em;
          padding: 0 20px;
     }


     .middle {
          flex-direction: column;

     }

     .card {
          padding: 20px;
     }
}